<div class="container">
  <div class="row">
      <!--Main area-->
    <div class="col-md-9">
        <div class="card" style="width: 100%">
            <div class="card-header">
              <h3>User list</h3>
            </div>
            <div class="card-body">
                
              <table
                id="tblUser"
                class="display dt-responsive nowrap"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th scope="col" class="all">First Name</th>
                    <th scope="col" class="desktop">Last Name</th>
                    <th scope="col" class="desktop">Email</th>
                    <th scope="col" class="desktop">Status</th>
                    <th scope="col" class="all">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.active }}</td>
                    <td class="text-right">
                      <button title="Edit" class="btn btn-warning">
                        <i class="far fa-edit"></i></button
                      ><span>&nbsp; </span
                      ><button title="Delete" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

    </div>
<!--Side Bar area-->
<div class="col-md-3">
    <div class="card">
        <div class="card-header">
            <h5>Other details</h5>
          </div>
          <div class="card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi iusto omnis esse? Voluptatibus esse, fugiat distinctio nisi maxime repudiandae doloremque animi. Fugit error inventore vel ipsum blanditiis labore facere.</p>
          </div>

    </div>
</div>

  </div>
</div>
